<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="DirectoryPath" value="D:\Users\bedashii\Dropbox\Public\NewsHost Posts\NSFW\Playboy"/>
    <add key="ResourcesPath" value="C:\Git-Dev\ReturnMedz\ReturnApplications\PlusPlay\PlusPlay\Resources"/>
    <add key="ResumeImport" value="false"/>
    <add key="DevMode" value="true"/>
    <add key="ColourStartR" value="75"/>
    <add key="ColourStartG" value="105"/>
    <add key="ColourStartB" value="248"/>
    <add key="ColourStopR" value="75"/>
    <add key="ColourStopG" value="141"/>
    <add key="ColourStopB" value="248"/>
  </appSettings>
</configuration>
