<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="DirectoryPath" value="D:\Users\bedashii\Dropbox\Public\NewsHost Posts\NSFW\Playboy"/>
    <add key="ResourcesPath" value="C:\Git-Dev\ReturnMedz\ReturnApplications\PlusPlay\PlusPlay\Resources"/>
    <add key="ResumeImport" value="false"/>
    <add key="DevMode" value="true"/>
    
    <!--PictureBox Colours-->
    <add key="ColourStartR" value="75"/>
    <add key="ColourStartG" value="105"/>
    <add key="ColourStartB" value="248"/>
    <add key="ColourStopR" value="75"/>
    <add key="ColourStopG" value="141"/>
    <add key="ColourStopB" value="248"/>
    <add key="ColourPosted" value="#FF0DE251"/>
    <add key="ColourNotPosted" value="#FFEA402F"/>
    
    <!--Button Colours-->
    <add key="ButtonColourDefault" value="#C07807"/>
    <add key="ButtonColourDropbox" value="#008BD3"/>
    <add key="ColourMouseEnter" value="#FFFFFF"/>
    <add key="ColourMouseLeave" value="#FE9728"/>
    <add key="ColourMouseDown" value="#007ACC"/>
    
    
  
    <add key="HttpPath" value="http://dl.dropbox.com/u" />
    <add key="UserID" value="52086730" />
    <add key="SyncDirectory" value="Dropbox/Public" />
    <add key="Extensions" value="jpg, png, gif" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
