<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FullFileName" value="E:\Users\bedashii\Videos\The Perfect Roomate (2011).mkv"/>
    <add key="ExclusionList" value="E:\Git-Dev\ReturnMedz\RetLib\MovieManagerLib\ExclusionList.txt"/>
    <add key="MovieTest2" value="E:\Users\bedashii\Videos\Chronicle 2012 720p DC BRRip AC3 x264 MacGuffin.mkv"/>
    <add key="MovieTest3" value="E:\Users\bedashii\Videos\Men.In.Black.II.2002.720p.HDTV.DD5.1.x264-CtrlHD.mkv"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
