@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <a href="">
                <img src="~/Resources/TestCoverImageDorado.jpg" />
            </a>

        </div>
        <div class="col-sm-4">
            <img src="~/Resources/TestCoverImageHanamura.jpg" />
        </div>
        <div class="col-sm-4">
            <img src="~/Resources/TestCoverImageKingsRow.jpg" />
        </div>
    </div>
</div>

