<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PlusPlayLib.Properties.Settings.PlusPlayDBConnectionString"
            connectionString="Data Source=|DataDirectory|\PlusPlayDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>