<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <controls>
        <add tagPrefix="DotaUC" tagName="PlayerControl" src="~/Controls/PlayerControl.ascx"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="DotaDb Connection String" value="Data Source=.;Initial Catalog=DotaDb;Integrated Security=True"/>
  </appSettings>
</configuration>