<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=CAPS-bedashii;Initial Catalog=MovieDB;User ID=Operator;Password=Operator"/>
    <add key="ExclusionList" value="E:\Git-Dev\ReturnMedz\RetLib\MovieLibResources\ExclusionList.txt"/>
    <add key="Trimmings" value="E:\Git-Dev\ReturnMedz\RetLib\MovieLibResources\Trimmings.txt"/>
    <add key="DefaultMoviePoster" value="E:\Git-Dev\ReturnMedz\RetLib\MovieLibResources\PosterNotAvailable.bmp"/>
    <add key="DefaultMoviePath" value="F:\\"/>
  </appSettings>
</configuration>