<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=CAPS;Initial Catalog=MovieDB;User ID=Operator;Password=Operator;Application Name=ReturnMovieManager"/>
    <add key="DefaultMoviePath" value="F:\\"/>
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
