<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=CAPS;Initial Catalog=MovieDB;User ID=Operator;Password=Operator;Application Name=ReturnMovieManager"/>
    <add key="DefaultMoviePath" value="F:\\"/>
  </appSettings>
  
</configuration>