
@{
    ViewBag.Title = "Aerial View";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Resources/TestAerialViewAnubusa.jpg" class="img-rounded" style="width:100%"/>
        </div>
    </div>
</div>



