<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="IsServer" value="false"/>
    <add key="ServerIP" value="192.168.220.2, 192.168.150.7"/>
    <!--<add key="ServerIP" value="127.0.0.1"/>-->
    <add key="ServerSocket" value="9876"/>
    <add key="ConnectionString" value="Data Source=HolisticsCommanderDB.sdf"/>
  </appSettings>
</configuration>
