<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PropertiesNamespace" value="RetLib.Properties"/>
    <add key="DataNamespace" value="RetLib.Data"/>
    <add key="BusinessNamespace" value="RetLib.Business"/>
    <add key="ListNamespace" value="RetLib.List"/>
  </appSettings>
</configuration>