<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PropertiesNamespace" value="RetLib.Properties"/>
    <add key="DataNamespace" value="RetLib.Data"/>
    <add key="BusinessNamespace" value="RetLib.Business"/>
    <add key="ListNamespace" value="RetLib.List"/>

    <!--LastConnectionDetails = LCD-->
    <add key="LCDServer" value=""/>
    <add key="LCDDatabase" value=""/>
    <add key="LCDLogin" value=""/>
    <add key="LCDStorePassword" value=""/>
    <add key="LCDPassword" value=""/>
    
  </appSettings>
</configuration>